<% include ../partials/navbar %>
<% include ../partials/masonry %>
<body>
<div class ="container">

<h2 class="first">My Dreams</h2>

<h4 class="first"><a href="/dreams/new">Create a New Dream</a></h4>

<div id="container">
<% allPosts.reverse(); %>
<% allPosts.forEach(function(post,index){ %>
  <div class="content">
    <p class = "dream_<%= post.tag %>"></p>
    <h2 class ="first"><%= post.title%></h2>
    <h4><%= post.body %></h4>
    <hr>
    <p class = "dateStamp"><%= post.createdAt %></p>
      <div class="first">
        <form style="display: inline-block;">
        <button>
          <a class="editButton" href="my_dreams/<%=post.id%>/edit" style="padding: 0; color:black"> Edit</a>
        </button>
        </form>
        <form class= "editButton" action="my_dreams/<%=post.id%>?_method=delete" method="post" style="display: inline-block;">
          <input type= "submit" value="Delete">
        </form>
      </div>
    </div>
<% }) %>
</div>
<br>
 
<% include ../partials/footer %>

<script>
  $(document).ready(function(){
    var $container = $('.container');

    $container.masonry({
      itemSelector        : '.content',
      columnWidth         : '.content',
      transitionDuration  : 0
    });
  });
</script>