<% include ../partials/navbar %>
<% include ../partials/header %>

<h1>My Dreams</h1>

<% allPosts.forEach(function(post,index){ %>

<h2><%= post.title%></h2>
<h4><%= post.body %></h4>
<p class = "dateStamp"><%= post.createdAt %></p>
  <form>
    <a href="my_dreams/<%=post.id%>/edit">Edit</a><br>
  </form>

  <form action="my_dreams/<%=post.id%>?_method=delete" method="post">
    <input type= "submit" value="Delete">
  </form>

<% }) %>


 
<% include ../partials/footer %>