<% include ../partials/navbar %>
<% include ../partials/masonry %>

<h2>My Dreams</h2>

<h4><a href="/dreams/new">Create a New Dream</a></h4>

<div id="container">
<% allPosts.reverse(); %>
<% allPosts.forEach(function(post,index){ %>
  <div class="content">
    <h2><%= post.title%></h2>
    <h4><%= post.body %></h4>
    <p class = "dateStamp"><%= post.createdAt %></p>
      <form>
        <a href="my_dreams/<%=post.id%>/edit">Edit</a><br>
      </form>

      <form action="my_dreams/<%=post.id%>?_method=delete" method="post">
        <input type= "submit" value="Delete">
      </form>
    </div>
<% }) %>
</div>
<br>
 
<% include ../partials/footer %>

<script>
  $(document).ready(function(){
    var $container = $('.container');

    // $container.imagesLoaded( function() {
      $container.masonry({
        itemSelector        : '.content',
        columnWidth         : '.content',
        transitionDuration  : 0
      });
    // });
  });
</script>